
<footer class="site-footer">
  <% if (config.rss || config.feed) {  %>
  <a class="subscribe icon-feed" href="<%= (config.rss || config.feed.path) %>"><span class="tooltip">Subscribe!</span></a>
  <% } %>
  <div class="inner">
     <section class="copyright"<a href="<%- config.root %>"><%- config.title %></a> &copy; 2020-2021 &bull; 保留所有权利。</section>
  </div>
</footer>
